[Unit]
Description=eInk HUD application
After=network.target

[Service]
User=root
ExecStart=/usr/bin/sudo /root/Projects/eInk/main.sh
RemainAfterExit=true
ExecStop=sudo python3 /root/Projects/eInk/goodbye.py
Restart=always

[Install]
WantedBy=multi-user.target